import os.path

## directory where libraries (e.g. openfst, gzstream, etc) are installed
#OVERLAY = "/export/projects/nlp/tools/overlay_fc11"

## directory of SVN tree from lorelei
#BABEL_REPO = "/export/projects/nlp/BABEL/lorelei_svn"

## directory of BABEL resources from lorelei
#BABEL_RESOURCES = "/export/projects/nlp/BABEL/lorelei_resources"

## directory of F4DE
#F4DE = "${BABEL_RESOURCES}/F4DE"

## directory of IndusDB
#INDUS_DB = "${BABEL_RESOURCES}/IndusDB"

## file to write log to
#LOG_DESTINATION = "log.txt"

## list of experiments to perform:
##   LATTICE_DIRECTORY: contains output from ASR (gzipped fsm files)
##   DATABASE         : contains segmentation information for lattices
##   IV_DICTIONARY    : vocalizations for IV words
##   OOV_DICTIONARY   : vocalizations for OOV query terms
##   KW_FILE          : XML of search terms
##   RTTM_FILE        : transcript from IndusDB
##   JOBS             : number of batches to split data into (for parallel processing)
EXPERIMENTS = {
    # "anahita_tagalog_baseline" : {
    #     "LATTICE_DIRECTORY" : "/localtemp/ab3744/Baseline/Tagalog/lat",
    #     "DATABASE" : "${BABEL_REPO}/KWS/examples/babel-tagalog-fulllp/segment/db/db.dev.auto.128-256-0.2",
    #     "IV_DICTIONARY" : "${BABEL_REPO}/KWS/resources/106/full/kws-resources/dict.IV.v2w.gz",
    #     "OOV_DICTIONARY" : "${BABEL_REPO}/KWS/resources/106/full/kws-resources/dict.OOV.v2p",
    #     "RTTM_FILE" : "${BABEL_RESOURCES}/IndusDB/babel106b-v0.2g_conv-dev/babel106b-v0.2g_conv-dev.rttm",
    #     "KW_FILE" : "${BABEL_RESOURCES}/IndusDB/babel106b-v0.2g_conv-dev.kwlist2.xml",
    #     "JOBS" : 5,
    #     },    
    }
